In [2]:
import pandas as pd
from pathlib import Path

In [3]:
DATA_DIR = Path("../data/raw")

fi_data = pd.read_excel(
    DATA_DIR / "ethiopia_fi_unified_data.xlsx",
    sheet_name=0
)

impact_links = pd.read_excel(
    DATA_DIR / "ethiopia_fi_unified_data.xlsx",
    sheet_name=1
)

reference_codes = pd.read_excel(
    DATA_DIR / "reference_codes.xlsx"
)

In [4]:
fi_data.info()
fi_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   record_id            43 non-null     object
 1   record_type          43 non-null     object
 2   category             10 non-null     object
 3   pillar               33 non-null     object
 4   indicator            43 non-null     object
 5   indicator_code       43 non-null     object
 6   indicator_direction  33 non-null     object
 7   value_numeric        33 non-null     float64
 8   value_text           10 non-null     object
 9   value_type           43 non-null     object
 10  unit                 33 non-null     object
 11  observation_date     43 non-null     datetime64[ns]
 12  period_start         10 non-null     datetime64[ns]
 13  period_end           10 non-null     datetime64[ns]
 14  fiscal_year          43 non-null     object
 15  gender               43 non-null     object
 16  location             43 non-null     object
 17  region               0 non-null      float64
 18  source_name          43 non-null     object
 19  source_type          43 non-null     object
 20  source_url           31 non-null     object
 21  confidence           43 non-null     object
 22  related_indicator    0 non-null      float64
 23  relationship_type    0 non-null      float64
 24  impact_direction     0 non-null      float64
 25  impact_magnitude     0 non-null      float64
 26  impact_estimate      0 non-null      float64
 27  lag_months           0 non-null      float64
 28  evidence_basis       0 non-null      float64
 29  comparable_country   43 non-null     object
 30  collected_by         43 non-null     datetime64[ns]
 31  collection_date      10 non-null     object
 32  original_text        33 non-null     object
 33  notes                0 non-null      float64
dtypes: datetime64[ns](4), float64(10), object(20)
memory usage: 11.6+ KB

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,...,impact_direction,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes
0,REC_0001,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,22.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Baseline year,NaN
1,REC_0002,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,35.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
2,REC_0003,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,46.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
3,REC_0004,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,56.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Gender disaggregated,NaN
4,REC_0005,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,36.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Gender disaggregated,NaN

In [20]:
import pandas as pd
from pathlib import Path

DATA_DIR = Path("../data/raw")

reference_codes = pd.read_excel(DATA_DIR / "reference_codes.xlsx")

# Inspect columns
print(reference_codes.columns.tolist())
reference_codes.head()

# Validate record_type, pillar, indicator_code
valid_record_types = reference_codes[reference_codes['field'] == 'record_type']['code']
valid_pillars = reference_codes[reference_codes['field'] == 'pillar']['code']
valid_indicators = reference_codes[reference_codes['field'] == 'indicator_code']['code']

# Check dataset for invalid entries
fi_data = pd.read_excel(DATA_DIR / "ethiopia_fi_unified_data.xlsx", sheet_name=0)

invalid_record_types = fi_data[~fi_data['record_type'].isin(valid_record_types)]
invalid_pillars = fi_data[fi_data['pillar'].notna() & ~fi_data['pillar'].isin(valid_pillars)]
invalid_indicators = fi_data[fi_data['indicator_code'].notna() & ~fi_data['indicator_code'].isin(valid_indicators)]

print("Invalid record_type:", invalid_record_types)
print("Invalid pillars:", invalid_pillars)
print("Invalid indicators:", invalid_indicators)

['field', 'code', 'description', 'applies_to']
Invalid record_type: Empty DataFrame
Columns: [record_id, record_type, category, pillar, indicator, indicator_code, indicator_direction, value_numeric, value_text, value_type, unit, observation_date, period_start, period_end, fiscal_year, gender, location, region, source_name, source_type, source_url, confidence, related_indicator, relationship_type, impact_direction, impact_magnitude, impact_estimate, lag_months, evidence_basis, comparable_country, collected_by, collection_date, original_text, notes]
Index: []

[0 rows x 34 columns]
Invalid pillars: Empty DataFrame
Columns: [record_id, record_type, category, pillar, indicator, indicator_code, indicator_direction, value_numeric, value_text, value_type, unit, observation_date, period_start, period_end, fiscal_year, gender, location, region, source_name, source_type, source_url, confidence, related_indicator, relationship_type, impact_direction, impact_magnitude, impact_estimate, lag_months, evidence_basis, comparable_country, collected_by, collection_date, original_text, notes]
Index: []

[0 rows x 34 columns]
Invalid indicators:    record_id  record_type        category         pillar  \
0   REC_0001  observation             NaN         ACCESS
1   REC_0002  observation             NaN         ACCESS
2   REC_0003  observation             NaN         ACCESS
3   REC_0004  observation             NaN         ACCESS
4   REC_0005  observation             NaN         ACCESS
5   REC_0006  observation             NaN         ACCESS
6   REC_0007  observation             NaN         ACCESS
7   REC_0008  observation             NaN         ACCESS
8   REC_0009  observation             NaN         ACCESS
9   REC_0010  observation             NaN         ACCESS
10  REC_0011  observation             NaN         ACCESS
11  REC_0012  observation             NaN         ACCESS
12  REC_0013  observation             NaN         ACCESS
13  REC_0014  observation             NaN         ACCESS
14  REC_0015  observation             NaN          USAGE
15  REC_0016  observation             NaN          USAGE
16  REC_0017  observation             NaN          USAGE
17  REC_0018  observation             NaN          USAGE
18  REC_0019  observation             NaN          USAGE
19  REC_0020  observation             NaN          USAGE
20  REC_0021  observation             NaN          USAGE
21  REC_0022  observation             NaN          USAGE
22  REC_0023  observation             NaN          USAGE
23  REC_0024  observation             NaN          USAGE
24  REC_0025  observation             NaN          USAGE
25  REC_0026  observation             NaN  AFFORDABILITY
26  REC_0027  observation             NaN         GENDER
27  REC_0028  observation             NaN         GENDER
28  REC_0029  observation             NaN         GENDER
29  REC_0030  observation             NaN         GENDER
30  REC_0031       target             NaN         ACCESS
31  REC_0032       target             NaN         ACCESS
32  REC_0033       target             NaN         GENDER
33  EVT_0001        event  product_launch            NaN
34  EVT_0002        event    market_entry            NaN
35  EVT_0003        event  product_launch            NaN
36  EVT_0004        event  infrastructure            NaN
37  EVT_0005        event          policy            NaN
38  EVT_0006        event       milestone            NaN
39  EVT_0007        event     partnership            NaN
40  EVT_0008        event  infrastructure            NaN
41  EVT_0009        event          policy            NaN
42  EVT_0010        event         pricing            NaN

                                 indicator      indicator_code  \
0                   Account Ownership Rate       ACC_OWNERSHIP
1                   Account Ownership Rate       ACC_OWNERSHIP
2                   Account Ownership Rate       ACC_OWNERSHIP
3                   Account Ownership Rate       ACC_OWNERSHIP
4                   Account Ownership Rate       ACC_OWNERSHIP
5                   Account Ownership Rate       ACC_OWNERSHIP
6                Mobile Money Account Rate      ACC_MM_ACCOUNT
7                Mobile Money Account Rate      ACC_MM_ACCOUNT
8                   4G Population Coverage          ACC_4G_COV
9                   4G Population Coverage          ACC_4G_COV
10         Mobile Subscription Penetration      ACC_MOBILE_PEN
11             Fayda Digital ID Enrollment           ACC_FAYDA
12             Fayda Digital ID Enrollment           ACC_FAYDA
13             Fayda Digital ID Enrollment           ACC_FAYDA
14                   P2P Transaction Count       USG_P2P_COUNT
15                   P2P Transaction Count       USG_P2P_COUNT
16                   P2P Transaction Value       USG_P2P_VALUE
17                   ATM Transaction Count       USG_ATM_COUNT
18                   ATM Transaction Value       USG_ATM_VALUE
19                 P2P/ATM Crossover Ratio       USG_CROSSOVER
20               Telebirr Registered Users  USG_TELEBIRR_USERS
21              Telebirr Transaction Value  USG_TELEBIRR_VALUE
22                 M-Pesa Registered Users     USG_MPESA_USERS
23              M-Pesa 90-Day Active Users    USG_MPESA_ACTIVE
24              Mobile Money Activity Rate     USG_ACTIVE_RATE
25                Data Affordability Index     AFF_DATA_INCOME
26            Account Ownership Gender Gap         GEN_GAP_ACC
27            Account Ownership Gender Gap         GEN_GAP_ACC
28       Female Mobile Money Account Share        GEN_MM_SHARE
29                 Mobile Phone Gender Gap      GEN_GAP_MOBILE
30                  Account Ownership Rate       ACC_OWNERSHIP
31             Fayda Digital ID Enrollment           ACC_FAYDA
32       Female Mobile Money Account Share        GEN_MM_SHARE
33                         Telebirr Launch        EVT_TELEBIRR
34    Safaricom Ethiopia Commercial Launch       EVT_SAFARICOM
35                  M-Pesa Ethiopia Launch           EVT_MPESA
36        Fayda Digital ID Program Rollout           EVT_FAYDA
37         Foreign Exchange Liberalization       EVT_FX_REFORM
38     P2P Transaction Count Surpasses ATM       EVT_CROSSOVER
39            M-Pesa EthSwitch Integration   EVT_MPESA_INTEROP
40  EthioPay Instant Payment System Launch        EVT_ETHIOPAY
41                 NFIS-II Strategy Launch           EVT_NFIS2
42       Safaricom Ethiopia Price Increase    EVT_SAFCOM_PRICE

   indicator_direction  value_numeric   value_text    value_type  ...  \
0        higher_better   2.200000e+01          NaN    percentage  ...
1        higher_better   3.500000e+01          NaN    percentage  ...
2        higher_better   4.600000e+01          NaN    percentage  ...
3        higher_better   5.600000e+01          NaN    percentage  ...
4        higher_better   3.600000e+01          NaN    percentage  ...
5        higher_better   4.900000e+01          NaN    percentage  ...
6        higher_better   4.700000e+00          NaN    percentage  ...
7        higher_better   9.450000e+00          NaN    percentage  ...
8        higher_better   3.750000e+01          NaN    percentage  ...
9        higher_better   7.080000e+01          NaN    percentage  ...
10       higher_better   6.140000e+01          NaN    percentage  ...
11       higher_better   8.000000e+06          NaN         count  ...
12       higher_better   1.200000e+07          NaN         count  ...
13       higher_better   1.500000e+07          NaN         count  ...
14       higher_better   4.970000e+07          NaN         count  ...
15       higher_better   1.283000e+08          NaN         count  ...
16       higher_better   5.777000e+11          NaN  currency_etb  ...
17             neutral   1.193000e+08          NaN         count  ...
18             neutral   1.561000e+11          NaN  currency_etb  ...
19       higher_better   1.080000e+00          NaN         ratio  ...
20       higher_better   5.484000e+07          NaN         count  ...
21       higher_better   2.380000e+12          NaN  currency_etb  ...
22       higher_better   1.080000e+07          NaN         count  ...
23       higher_better   7.100000e+06          NaN         count  ...
24       higher_better   6.600000e+01          NaN    percentage  ...
25        lower_better   2.000000e+00          NaN    percentage  ...
26        lower_better   2.000000e+01          NaN        gap_pp  ...
27        lower_better   1.800000e+01          NaN        gap_pp  ...
28       higher_better   1.400000e+01          NaN    percentage  ...
29        lower_better   2.400000e+01          NaN    percentage  ...
30       higher_better   7.000000e+01          NaN    percentage  ...
31       higher_better   9.000000e+07          NaN         count  ...
32       higher_better   5.000000e+01          NaN    percentage  ...
33                 NaN            NaN     Launched   categorical  ...
34                 NaN            NaN     Launched   categorical  ...
35                 NaN            NaN     Launched   categorical  ...
36                 NaN            NaN     Launched   categorical  ...
37                 NaN            NaN  Implemented   categorical  ...
38                 NaN            NaN     Achieved   categorical  ...
39                 NaN            NaN     Launched   categorical  ...
40                 NaN            NaN     Launched   categorical  ...
41                 NaN            NaN     Launched   categorical  ...
42                 NaN            NaN  Implemented   categorical  ...

   impact_direction impact_magnitude impact_estimate lag_months  \
0               NaN              NaN             NaN        NaN
1               NaN              NaN             NaN        NaN
2               NaN              NaN             NaN        NaN
3               NaN              NaN             NaN        NaN
4               NaN              NaN             NaN        NaN
5               NaN              NaN             NaN        NaN
6               NaN              NaN             NaN        NaN
7               NaN              NaN             NaN        NaN
8               NaN              NaN             NaN        NaN
9               NaN              NaN             NaN        NaN
10              NaN              NaN             NaN        NaN
11              NaN              NaN             NaN        NaN
12              NaN              NaN             NaN        NaN
13              NaN              NaN             NaN        NaN
14              NaN              NaN             NaN        NaN
15              NaN              NaN             NaN        NaN
16              NaN              NaN             NaN        NaN
17              NaN              NaN             NaN        NaN
18              NaN              NaN             NaN        NaN
19              NaN              NaN             NaN        NaN
20              NaN              NaN             NaN        NaN
21              NaN              NaN             NaN        NaN
22              NaN              NaN             NaN        NaN
23              NaN              NaN             NaN        NaN
24              NaN              NaN             NaN        NaN
25              NaN              NaN             NaN        NaN
26              NaN              NaN             NaN        NaN
27              NaN              NaN             NaN        NaN
28              NaN              NaN             NaN        NaN
29              NaN              NaN             NaN        NaN
30              NaN              NaN             NaN        NaN
31              NaN              NaN             NaN        NaN
32              NaN              NaN             NaN        NaN
33              NaN              NaN             NaN        NaN
34              NaN              NaN             NaN        NaN
35              NaN              NaN             NaN        NaN
36              NaN              NaN             NaN        NaN
37              NaN              NaN             NaN        NaN
38              NaN              NaN             NaN        NaN
39              NaN              NaN             NaN        NaN
40              NaN              NaN             NaN        NaN
41              NaN              NaN             NaN        NaN
42              NaN              NaN             NaN        NaN

   evidence_basis comparable_country collected_by  \
0             NaN    Example_Trainee   2025-01-20
1             NaN    Example_Trainee   2025-01-20
2             NaN    Example_Trainee   2025-01-20
3             NaN    Example_Trainee   2025-01-20
4             NaN    Example_Trainee   2025-01-20
5             NaN    Example_Trainee   2025-01-20
6             NaN    Example_Trainee   2025-01-20
7             NaN    Example_Trainee   2025-01-20
8             NaN    Example_Trainee   2025-01-20
9             NaN    Example_Trainee   2025-01-20
10            NaN    Example_Trainee   2025-01-20
11            NaN    Example_Trainee   2025-01-20
12            NaN    Example_Trainee   2025-01-20
13            NaN    Example_Trainee   2025-01-20
14            NaN    Example_Trainee   2025-01-20
15            NaN    Example_Trainee   2025-01-20
16            NaN    Example_Trainee   2025-01-20
17            NaN    Example_Trainee   2025-01-20
18            NaN    Example_Trainee   2025-01-20
19            NaN    Example_Trainee   2025-01-20
20            NaN    Example_Trainee   2025-01-20
21            NaN    Example_Trainee   2025-01-20
22            NaN    Example_Trainee   2025-01-20
23            NaN    Example_Trainee   2025-01-20
24            NaN    Example_Trainee   2025-01-20
25            NaN    Example_Trainee   2025-01-20
26            NaN    Example_Trainee   2025-01-20
27            NaN    Example_Trainee   2025-01-20
28            NaN    Example_Trainee   2025-01-20
29            NaN    Example_Trainee   2025-01-20
30            NaN    Example_Trainee   2025-01-20
31            NaN    Example_Trainee   2025-01-20
32            NaN    Example_Trainee   2025-01-20
33            NaN    Example_Trainee   2025-01-20
34            NaN    Example_Trainee   2025-01-20
35            NaN    Example_Trainee   2025-01-20
36            NaN    Example_Trainee   2025-01-20
37            NaN    Example_Trainee   2025-01-20
38            NaN    Example_Trainee   2025-01-20
39            NaN    Example_Trainee   2025-01-20
40            NaN    Example_Trainee   2025-01-20
41            NaN    Example_Trainee   2025-01-20
42            NaN    Example_Trainee   2025-01-20

                                   collection_date  \
0                                              NaN
1                                              NaN
2                                              NaN
3                                              NaN
4                                              NaN
5      Account ownership increased from 46% to 49%
6                                              NaN
7                                              NaN
8                                              NaN
9          4G coverage doubled from 37.5% to 70.8%
10                                             NaN
11                                             NaN
12  Over 12 million registered as of February 2025
13                                             NaN
14                                             NaN
15                  128.3 million P2P transactions
16                               ETB 577.7 billion
17                                             NaN
18                                             NaN
19                                             NaN
20                    54.84 million telebirr users
21              2.38 trillion birr in transactions
22                      10.8 million users (+245%)
23                       7.1 million 90-day active
24                                             NaN
25                                             NaN
26                                             NaN
27                                             NaN
28         Women hold 14% of mobile money accounts
29                                             NaN
30                                             NaN
31                                             NaN
32                                             NaN
33                                             NaN
34                                             NaN
35                                             NaN
36                                             NaN
37                                             NaN
38                                             NaN
39                                             NaN
40                                             NaN
41                                             NaN
42                                             NaN

                                   original_text notes
0                                  Baseline year   NaN
1                                            NaN   NaN
2                                            NaN   NaN
3                           Gender disaggregated   NaN
4                           Gender disaggregated   NaN
5                            Survey Oct-Nov 2024   NaN
6                                            NaN   NaN
7                              Doubled from 2021   NaN
8                         Before major expansion   NaN
9                Major infrastructure investment   NaN
10         93.7M connections / 152.7M population   NaN
11                                           NaN   NaN
12                                           NaN   NaN
13                                           NaN   NaN
14                  Previous year for comparison   NaN
15                              +158% YoY growth   NaN
16                              +113% YoY growth   NaN
17                    +26% YoY (slower than P2P)   NaN
18                                           NaN   NaN
19                      P2P > ATM for first time   NaN
20                                           NaN   NaN
21                                           NaN   NaN
22                                           NaN   NaN
23                             66% activity rate   NaN
24                            7.1M / 10.8M = 66%   NaN
25                        Now meets UN 2% target   NaN
26              56% male - 36% female = 20pp gap   NaN
27                               Estimated ~18pp   NaN
28                           Far from 50% parity   NaN
29                         86% male - 65% female   NaN
30                                NFIS-II target   NaN
31                            90M by 2028 target   NaN
32                                 Parity target   NaN
33  First major mobile money service in Ethiopia   NaN
34                 End of state telecom monopoly   NaN
35                   Second mobile money entrant   NaN
36          National biometric digital ID system   NaN
37                         Birr float introduced   NaN
38       Historic: digital > cash for first time   NaN
39              Full interoperability for M-Pesa   NaN
40             National real-time payment system   NaN
41  5-year national financial inclusion strategy   NaN
42        Data and voice prices increased 20-82%   NaN

[43 rows x 34 columns]

Events do not have a fixed pillar assignment because one event may affect multiple dimensions:

Telebirr launch → increases USAGE and ACCESS

Fayda rollout → affects ACCESS, TRUST, GENDER

Policy changes → may impact multiple indicators indirectly

Assigning a single pillar to events prematurely biases the modeling. We keep pillars only on impact_links where the indicator is explicitly affected.

In [21]:
impact_links = pd.read_excel(DATA_DIR / "ethiopia_fi_unified_data.xlsx", sheet_name=1)
impact_links.head()

# Example explanation
# One event can have multiple impact_links
# Each link defines:
#   - related_indicator (which metric is affected)
#   - pillar (ACCESS / USAGE)
#   - impact_direction (+/-)
#   - impact_magnitude (low/medium/high)
#   - lag_months (delay before effect occurs)

,record_id,parent_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,...,impact_direction,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes
0,IMP_0001,EVT_0001,impact_link,NaN,ACCESS,Telebirr effect on Account Ownership,NaN,NaN,15.0,NaN,...,increase,high,15.0,12,literature,Kenya,Example_Trainee,2025-01-20,NaN,Kenya M-Pesa showed +20pp over 5 years
1,IMP_0002,EVT_0001,impact_link,NaN,USAGE,Telebirr effect on Telebirr Users,NaN,NaN,NaN,NaN,...,increase,high,NaN,3,empirical,NaN,Example_Trainee,2025-01-20,NaN,Direct subscriber acquisition
2,IMP_0003,EVT_0001,impact_link,NaN,USAGE,Telebirr effect on P2P Transactions,NaN,NaN,25.0,NaN,...,increase,high,25.0,6,empirical,NaN,Example_Trainee,2025-01-20,NaN,New digital payment channel
3,IMP_0004,EVT_0002,impact_link,NaN,ACCESS,Safaricom effect on 4G Coverage,NaN,NaN,15.0,NaN,...,increase,medium,15.0,12,empirical,NaN,Example_Trainee,2025-01-20,NaN,Network investment from competition
4,IMP_0005,EVT_0002,impact_link,NaN,AFFORDABILITY,Safaricom effect on Data Affordability,NaN,NaN,-20.0,NaN,...,decrease,medium,-20.0,12,literature,Rwanda,Example_Trainee,2025-01-20,NaN,Competition typically reduces prices

All records share the same columns

Interpretation depends on record_type

Many columns will be empty depending on type

In [5]:
fi_data['record_type'].value_counts()

record_type
observation    30
event          10
target          3
Name: count, dtype: int64

observation → measured values

event → something happened

target → official goal

In [6]:
fi_data['indicator_code'].dropna().unique()

array(['ACC_OWNERSHIP', 'ACC_MM_ACCOUNT', 'ACC_4G_COV', 'ACC_MOBILE_PEN',
       'ACC_FAYDA', 'USG_P2P_COUNT', 'USG_P2P_VALUE', 'USG_ATM_COUNT',
       'USG_ATM_VALUE', 'USG_CROSSOVER', 'USG_TELEBIRR_USERS',
       'USG_TELEBIRR_VALUE', 'USG_MPESA_USERS', 'USG_MPESA_ACTIVE',
       'USG_ACTIVE_RATE', 'AFF_DATA_INCOME', 'GEN_GAP_ACC',
       'GEN_MM_SHARE', 'GEN_GAP_MOBILE', 'EVT_TELEBIRR', 'EVT_SAFARICOM',
       'EVT_MPESA', 'EVT_FAYDA', 'EVT_FX_REFORM', 'EVT_CROSSOVER',
       'EVT_MPESA_INTEROP', 'EVT_ETHIOPAY', 'EVT_NFIS2',
       'EVT_SAFCOM_PRICE'], dtype=object)

In [11]:
valid_record_types = reference_codes[
    reference_codes['field'] == 'record_type'
]['code']

fi_data.loc[
    ~fi_data['record_type'].isin(valid_record_types),
    'record_type'
]

Series([], Name: record_type, dtype: object)

In [9]:
reference_codes.head()

,field,code,description,applies_to
0,record_type,observation,Actual measured value from a source,All
1,record_type,event,Policy launch market event or milestone,All
2,record_type,impact_link,Relationship between event and indicator (link...,All
3,record_type,target,Policy target or official goal,All
4,record_type,baseline,Starting point for comparison,All

In [10]:
reference_codes.columns

Index(['field', 'code', 'description', 'applies_to'], dtype='object')

In [12]:
valid_pillars = reference_codes[
    reference_codes['field'] == 'pillar'
]['code']

fi_data.loc[
    fi_data['pillar'].notna() & 
    ~fi_data['pillar'].isin(valid_pillars),
    'pillar'
]

Series([], Name: pillar, dtype: object)

In [13]:
fi_data['pillar'].value_counts(dropna=False)

pillar
ACCESS           16
USAGE            11
NaN              10
GENDER            5
AFFORDABILITY     1
Name: count, dtype: int64

In [14]:
fi_data['source_type'].value_counts(dropna=False)

source_type
operator      15
survey        10
regulator      7
research       4
policy         3
calculated     2
news           2
Name: count, dtype: int64

In [15]:
fi_data['confidence'].value_counts(dropna=False)

confidence
high      40
medium     3
Name: count, dtype: int64

In [16]:
obs = fi_data[fi_data['record_type'] == 'observation']

obs['observation_date'].min(), obs['observation_date'].max()

(Timestamp('2014-12-31 00:00:00'), Timestamp('2025-12-31 00:00:00'))

In [17]:
obs.groupby('indicator_code').size().sort_values(ascending=False)

indicator_code
ACC_OWNERSHIP         6
ACC_FAYDA             3
ACC_4G_COV            2
ACC_MM_ACCOUNT        2
GEN_GAP_ACC           2
USG_P2P_COUNT         2
ACC_MOBILE_PEN        1
GEN_GAP_MOBILE        1
GEN_MM_SHARE          1
USG_ACTIVE_RATE       1
AFF_DATA_INCOME       1
USG_ATM_COUNT         1
USG_ATM_VALUE         1
USG_MPESA_ACTIVE      1
USG_CROSSOVER         1
USG_MPESA_USERS       1
USG_P2P_VALUE         1
USG_TELEBIRR_USERS    1
USG_TELEBIRR_VALUE    1
dtype: int64

In [18]:
events = fi_data[fi_data['record_type'] == 'event']
events[['record_id', 'category', 'indicator', 'observation_date']]

,record_id,category,indicator,observation_date
33,EVT_0001,product_launch,Telebirr Launch,2021-05-17
34,EVT_0002,market_entry,Safaricom Ethiopia Commercial Launch,2022-08-01
35,EVT_0003,product_launch,M-Pesa Ethiopia Launch,2023-08-01
36,EVT_0004,infrastructure,Fayda Digital ID Program Rollout,2024-01-01
37,EVT_0005,policy,Foreign Exchange Liberalization,2024-07-29
38,EVT_0006,milestone,P2P Transaction Count Surpasses ATM,2024-10-01
39,EVT_0007,partnership,M-Pesa EthSwitch Integration,2025-10-27
40,EVT_0008,infrastructure,EthioPay Instant Payment System Launch,2025-12-18
41,EVT_0009,policy,NFIS-II Strategy Launch,2021-09-01
42,EVT_0010,pricing,Safaricom Ethiopia Price Increase,2025-12-15

In [19]:
impact_links[['parent_id', 'pillar', 'related_indicator', 'impact_direction', 'lag_months']]

   parent_id         pillar   related_indicator impact_direction  lag_months
0   EVT_0001         ACCESS       ACC_OWNERSHIP         increase          12
1   EVT_0001          USAGE  USG_TELEBIRR_USERS         increase           3
2   EVT_0001          USAGE       USG_P2P_COUNT         increase           6
3   EVT_0002         ACCESS          ACC_4G_COV         increase          12
4   EVT_0002  AFFORDABILITY     AFF_DATA_INCOME         decrease          12
5   EVT_0003          USAGE     USG_MPESA_USERS         increase           3
6   EVT_0003         ACCESS      ACC_MM_ACCOUNT         increase           6
7   EVT_0004         ACCESS       ACC_OWNERSHIP         increase          24
8   EVT_0004         GENDER         GEN_GAP_ACC         decrease          24
9   EVT_0005  AFFORDABILITY     AFF_DATA_INCOME         increase           3
10  EVT_0007          USAGE    USG_MPESA_ACTIVE         increase           3
11  EVT_0007          USAGE       USG_P2P_COUNT         increase           3
12  EVT_0008          USAGE       USG_P2P_COUNT         increase           6
13  EVT_0010  AFFORDABILITY     AFF_DATA_INCOME         increase           1

In [22]:
import pandas as pd
from pathlib import Path

DATA_RAW = Path("../data/raw")

# Load Sheet 1 (data: observations, events, targets)
fi_data = pd.read_excel(DATA_RAW / "ethiopia_fi_unified_data.xlsx", sheet_name=0)

# Load Sheet 2 (impact_links)
impact_links = pd.read_excel(DATA_RAW / "ethiopia_fi_unified_data.xlsx", sheet_name=1)

# Load reference codes
reference_codes = pd.read_excel(DATA_RAW / "reference_codes.xlsx")

In [23]:
# Print all columns
print("Columns in fi_data:")
print(fi_data.columns.tolist())

# Head of dataset
fi_data.head()

Columns in fi_data:
['record_id', 'record_type', 'category', 'pillar', 'indicator', 'indicator_code', 'indicator_direction', 'value_numeric', 'value_text', 'value_type', 'unit', 'observation_date', 'period_start', 'period_end', 'fiscal_year', 'gender', 'location', 'region', 'source_name', 'source_type', 'source_url', 'confidence', 'related_indicator', 'relationship_type', 'impact_direction', 'impact_magnitude', 'impact_estimate', 'lag_months', 'evidence_basis', 'comparable_country', 'collected_by', 'collection_date', 'original_text', 'notes']

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,...,impact_direction,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes
0,REC_0001,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,22.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Baseline year,NaN
1,REC_0002,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,35.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
2,REC_0003,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,46.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
3,REC_0004,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,56.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Gender disaggregated,NaN
4,REC_0005,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,36.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Gender disaggregated,NaN

Sheet 1 contains measured data (observation), real events (event), and official targets (target).
Sheet 2 (impact_links) contains modeled relationships linking events to indicators via parent_id.
parent_id in impact_links points to the record_id of an event in Sheet 1. Each link defines the affected indicator, pillar, direction, magnitude, and lag.
Pillars cannot be assigned to events directly because one event may affect multiple indicators and pillars. For example, Telebirr launch affects both ACCESS and USAGE.

In [24]:
# List unique fields in reference codes
reference_codes['field'].unique()

# Example: check valid pillars
valid_pillars = reference_codes[reference_codes['field'] == 'pillar']['code'].tolist()
valid_record_types = reference_codes[reference_codes['field'] == 'record_type']['code'].tolist()
valid_categories = reference_codes[reference_codes['field'] == 'category']['code'].tolist()

print("Valid pillars:", valid_pillars)
print("Valid record types:", valid_record_types)
print("Valid event categories:", valid_categories)

Valid pillars: ['ACCESS', 'USAGE', 'QUALITY', 'AFFORDABILITY', 'TRUST', 'DEPTH', 'GENDER']
Valid record types: ['observation', 'event', 'impact_link', 'target', 'baseline', 'forecast']
Valid event categories: ['product_launch', 'market_entry', 'market_exit', 'policy', 'regulation', 'infrastructure', 'partnership', 'milestone', 'economic', 'pricing']

In [25]:
# Count by record_type
record_type_counts = fi_data['record_type'].value_counts()
# Count by pillar
pillar_counts = fi_data['pillar'].value_counts(dropna=False)
# Count by source_type
source_counts = fi_data['source_type'].value_counts()
# Count by confidence
confidence_counts = fi_data['confidence'].value_counts()

print("Record type counts:\n", record_type_counts)
print("\nPillar counts:\n", pillar_counts)
print("\nSource type counts:\n", source_counts)
print("\nConfidence counts:\n", confidence_counts)

Record type counts:
 record_type
observation    30
event          10
target          3
Name: count, dtype: int64

Pillar counts:
 pillar
ACCESS           16
USAGE            11
NaN              10
GENDER            5
AFFORDABILITY     1
Name: count, dtype: int64

Source type counts:
 source_type
operator      15
survey        10
regulator      7
research       4
policy         3
calculated     2
news           2
Name: count, dtype: int64

Confidence counts:
 confidence
high      40
medium     3
Name: count, dtype: int64

In [26]:
obs = fi_data[fi_data['record_type'] == 'observation']
print("Earliest observation date:", obs['observation_date'].min())
print("Latest observation date:", obs['observation_date'].max())

Earliest observation date: 2014-12-31 00:00:00
Latest observation date: 2025-12-31 00:00:00

In [27]:
indicator_counts = obs['indicator_code'].value_counts()
print("Indicator coverage:\n", indicator_counts)

Indicator coverage:
 indicator_code
ACC_OWNERSHIP         6
ACC_FAYDA             3
ACC_MM_ACCOUNT        2
ACC_4G_COV            2
USG_P2P_COUNT         2
GEN_GAP_ACC           2
ACC_MOBILE_PEN        1
USG_ATM_COUNT         1
USG_ATM_VALUE         1
USG_CROSSOVER         1
USG_P2P_VALUE         1
USG_TELEBIRR_USERS    1
USG_TELEBIRR_VALUE    1
USG_MPESA_ACTIVE      1
USG_MPESA_USERS       1
USG_ACTIVE_RATE       1
AFF_DATA_INCOME       1
GEN_MM_SHARE          1
GEN_GAP_MOBILE        1
Name: count, dtype: int64

This table shows which indicators have the most observations and which are sparse. Sparse indicators may need enrichment or careful modeling.

In [28]:
events = fi_data[fi_data['record_type'] == 'event']
events_summary = events[['record_id', 'category', 'indicator', 'observation_date']].sort_values('observation_date')
events_summary.head(10)

,record_id,category,indicator,observation_date
33,EVT_0001,product_launch,Telebirr Launch,2021-05-17
41,EVT_0009,policy,NFIS-II Strategy Launch,2021-09-01
34,EVT_0002,market_entry,Safaricom Ethiopia Commercial Launch,2022-08-01
35,EVT_0003,product_launch,M-Pesa Ethiopia Launch,2023-08-01
36,EVT_0004,infrastructure,Fayda Digital ID Program Rollout,2024-01-01
37,EVT_0005,policy,Foreign Exchange Liberalization,2024-07-29
38,EVT_0006,milestone,P2P Transaction Count Surpasses ATM,2024-10-01
39,EVT_0007,partnership,M-Pesa EthSwitch Integration,2025-10-27
42,EVT_0010,pricing,Safaricom Ethiopia Price Increase,2025-12-15
40,EVT_0008,infrastructure,EthioPay Instant Payment System Launch,2025-12-18

This table lists major events, their categories, and dates. For example, Telebirr launch (product_launch) and M-Pesa entry (market_entry).

In [29]:
impact_links_summary = impact_links[['parent_id', 'pillar', 'related_indicator', 'impact_direction', 'impact_magnitude', 'lag_months']]
impact_links_summary.head(10)

,parent_id,pillar,related_indicator,impact_direction,impact_magnitude,lag_months
0,EVT_0001,ACCESS,ACC_OWNERSHIP,increase,high,12
1,EVT_0001,USAGE,USG_TELEBIRR_USERS,increase,high,3
2,EVT_0001,USAGE,USG_P2P_COUNT,increase,high,6
3,EVT_0002,ACCESS,ACC_4G_COV,increase,medium,12
4,EVT_0002,AFFORDABILITY,AFF_DATA_INCOME,decrease,medium,12
5,EVT_0003,USAGE,USG_MPESA_USERS,increase,high,3
6,EVT_0003,ACCESS,ACC_MM_ACCOUNT,increase,medium,6
7,EVT_0004,ACCESS,ACC_OWNERSHIP,increase,medium,24
8,EVT_0004,GENDER,GEN_GAP_ACC,decrease,medium,24
9,EVT_0005,AFFORDABILITY,AFF_DATA_INCOME,increase,high,3

Each row links a parent event to an affected indicator.
impact_direction shows if the effect is positive/negative.
impact_magnitude shows strength (low/medium/high).
lag_months shows how long until the effect appears.