In [1]:
import pandas as pd
from pathlib import Path
from datetime import date

In [2]:
DATA_RAW = Path("../data/raw")
DATA_PROCESSED = Path("../data/processed")

fi_data = pd.read_excel(
    DATA_RAW / "ethiopia_fi_unified_data.xlsx",
    sheet_name=0
)

impact_links_existing = pd.read_excel(
    DATA_RAW / "ethiopia_fi_unified_data.xlsx",
    sheet_name=1
)

reference_codes = pd.read_excel(
    DATA_RAW / "reference_codes.xlsx"
)

In [3]:
fi_data.shape, impact_links_existing.shape

((43, 34), (14, 35))

ACCESS & USAGE are influenced by enablers, not only products

Ethiopia has:

Rapid mobile growth

Strong policy interventions

Infrastructure constraints

We enrich with:

Enabler observations

Missing national events

Causal impact links

In [4]:
new_observations = pd.DataFrame([
    {
        "record_id": "OBS_SMARTPHONE_PEN_2023",
        "parent_id": None,
        "record_type": "observation",
        "category": None,
        "pillar": "USAGE",
        "indicator": "Smartphone penetration (adults)",
        "indicator_code": "USG_SMARTPHONE_PEN",
        "indicator_direction": "increase_good",
        "value_numeric": 34,
        "value_text": None,
        "value_type": "percentage",
        "unit": "%",
        "observation_date": "2023-01-01",
        "period_start": None,
        "period_end": None,
        "fiscal_year": None,
        "gender": "total",
        "location": "national",
        "region": None,
        "source_name": "GSMA Mobile Economy Sub-Saharan Africa",
        "source_type": "industry_report",
        "source_url": "https://www.gsma.com/mobileeconomy/",
        "confidence": "medium",
        "related_indicator": None,
        "relationship_type": None,
        "impact_direction": None,
        "impact_magnitude": None,
        "impact_estimate": None,
        "lag_months": None,
        "evidence_basis": None,
        "comparable_country": None,
        "collected_by": "Elias",
        "collection_date": date.today(),
        "original_text": "Smartphone adoption in Ethiopia reached approximately 34% in 2023.",
        "notes": "Smartphone access is a prerequisite for app-based digital payments."
    }
])

In [5]:
new_observations = pd.concat([
    new_observations,
    pd.DataFrame([
        {
            "record_id": "OBS_MOBILE_INTERNET_2023",
            "parent_id": None,
            "record_type": "observation",
            "category": None,
            "pillar": "ACCESS",
            "indicator": "Mobile internet coverage (population)",
            "indicator_code": "ACC_MOBILE_INTERNET_COV",
            "indicator_direction": "increase_good",
            "value_numeric": 75,
            "value_text": None,
            "value_type": "percentage",
            "unit": "%",
            "observation_date": "2023-01-01",
            "gender": "total",
            "location": "national",
            "source_name": "ITU",
            "source_type": "international_org",
            "source_url": "https://www.itu.int/",
            "confidence": "medium",
            "collected_by": "Elias",
            "collection_date": date.today(),
            "original_text": "Mobile broadband population coverage in Ethiopia exceeded 75% in 2023.",
            "notes": "Network availability is a prerequisite for digital financial access."
        }
    ])
], ignore_index=True)

In [6]:
new_events = pd.DataFrame([
    {
        "record_id": "EVT_FX_REFORM_2023",
        "parent_id": None,
        "record_type": "event",
        "category": "economic",
        "pillar": None,
        "indicator": "Foreign exchange reform liberalization",
        "observation_date": "2023-07-01",
        "source_name": "National Bank of Ethiopia",
        "source_type": "government",
        "source_url": "https://www.nbe.gov.et/",
        "confidence": "medium",
        "collected_by": "Elias",
        "collection_date": date.today(),
        "original_text": "The National Bank of Ethiopia announced major FX market reforms in 2023.",
        "notes": "FX reform increases formal financial activity and digital transactions."
    }
])

In [7]:
new_events = pd.concat([
    new_events,
    pd.DataFrame([
        {
            "record_id": "EVT_MPESA_LAUNCH_2023",
            "record_type": "event",
            "category": "market_entry",
            "pillar": None,
            "indicator": "M-Pesa Ethiopia commercial launch",
            "observation_date": "2023-08-01",
            "source_name": "Safaricom Ethiopia",
            "source_type": "operator_report",
            "source_url": "https://www.safaricom.et/",
            "confidence": "high",
            "collected_by": "Elias",
            "collection_date": date.today(),
            "original_text": "Safaricom Ethiopia launched M-Pesa nationwide in 2023.",
            "notes": "New entrant increases competition and digital payment adoption."
        }
    ])
], ignore_index=True)

In [8]:
new_impact_links = pd.DataFrame([
    {
        "record_id": "IMP_FX_REFORM_USAGE",
        "parent_id": "EVT_FX_REFORM_2023",
        "record_type": "impact_link",
        "category": None,
        "pillar": "USAGE",
        "related_indicator": "USG_DIGITAL_PAYMENT",
        "relationship_type": "inferred",
        "impact_direction": "increase",
        "impact_magnitude": "medium",
        "lag_months": 6,
        "evidence_basis": "Comparable countries",
        "comparable_country": "Kenya",
        "notes": "FX liberalization increases formal digital transaction volumes."
    }
])

In [9]:
new_impact_links = pd.concat([
    new_impact_links,
    pd.DataFrame([
        {
            "record_id": "IMP_SMARTPHONE_USAGE",
            "parent_id": "OBS_SMARTPHONE_PEN_2023",
            "record_type": "impact_link",
            "pillar": "USAGE",
            "related_indicator": "USG_DIGITAL_PAYMENT",
            "relationship_type": "correlational",
            "impact_direction": "increase",
            "impact_magnitude": "high",
            "lag_months": 0,
            "evidence_basis": "Global evidence",
            "notes": "Smartphone ownership strongly correlates with mobile payment usage."
        }
    ])
], ignore_index=True)

In [10]:
fi_enriched = pd.concat(
    [fi_data, new_observations, new_events, new_impact_links],
    ignore_index=True
)

C:\Users\Y\AppData\Local\Temp\ipykernel_9588\1385352947.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fi_enriched = pd.concat(

In [11]:
DATA_PROCESSED.mkdir(exist_ok=True)

fi_enriched.to_excel(
    DATA_PROCESSED / "ethiopia_fi_unified_data_enriched.xlsx",
    index=False
)

In [13]:
fi_data = pd.read_excel(DATA_RAW / "ethiopia_fi_unified_data.xlsx", sheet_name=0)
impact_links_existing = pd.read_excel(DATA_RAW / "ethiopia_fi_unified_data.xlsx", sheet_name=1)

In [14]:
from datetime import date
new_observations = pd.DataFrame([
    {
        "record_id": "OBS_SMARTPHONE_PEN_2023",
        "parent_id": None,
        "record_type": "observation",
        "category": None,
        "pillar": "USAGE",
        "indicator": "Smartphone penetration (adults)",
        "indicator_code": "USG_SMARTPHONE_PEN",
        "indicator_direction": "increase_good",
        "value_numeric": 34,
        "value_text": None,
        "value_type": "percentage",
        "unit": "%",
        "observation_date": "2023-01-01",
        "gender": "total",
        "location": "national",
        "source_name": "GSMA Mobile Economy",
        "source_type": "industry_report",
        "source_url": "https://www.gsma.com/mobileeconomy/",
        "confidence": "medium",
        "collected_by": "Elias",
        "collection_date": date.today(),
        "original_text": "Smartphone adoption in Ethiopia reached approximately 34% in 2023.",
        "notes": "Smartphone access is a prerequisite for app-based digital payments."
    }
])

In [15]:
new_events = pd.DataFrame([
    {
        "record_id": "EVT_FX_REFORM_2023",
        "parent_id": None,
        "record_type": "event",
        "category": "economic",
        "pillar": None,
        "indicator": "FX market liberalization",
        "observation_date": "2023-07-01",
        "source_name": "National Bank of Ethiopia",
        "source_type": "government",
        "source_url": "https://www.nbe.gov.et/",
        "confidence": "medium",
        "collected_by": "Elias",
        "collection_date": date.today(),
        "original_text": "Major FX reforms announced in 2023.",
        "notes": "Expected to increase formal financial activity."
    }
])

In [16]:
new_impact_links = pd.DataFrame([
    {
        "record_id": "IMP_FX_REFORM_USAGE",
        "parent_id": "EVT_FX_REFORM_2023",
        "record_type": "impact_link",
        "pillar": "USAGE",
        "related_indicator": "USG_DIGITAL_PAYMENT",
        "impact_direction": "increase",
        "impact_magnitude": "medium",
        "lag_months": 6,
        "evidence_basis": "Comparable countries",
        "comparable_country": "Kenya",
        "notes": "FX liberalization increases formal digital transaction volumes."
    }
])

In [17]:
from pathlib import Path
DATA_PROCESSED = Path("../data/processed")
DATA_PROCESSED.mkdir(exist_ok=True)

fi_enriched = pd.concat([fi_data, new_observations, new_events, new_impact_links], ignore_index=True)
fi_enriched.to_excel(DATA_PROCESSED / "ethiopia_fi_unified_data_enriched.xlsx", index=False)

In [18]:
import pandas as pd
from pathlib import Path

DATA_PROCESSED = Path("../data/processed")
fi_enriched_path = DATA_PROCESSED / "ethiopia_fi_unified_data_enriched.xlsx"

fi_enriched = pd.read_excel(fi_enriched_path)
fi_enriched.head(10)

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,...,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes,parent_id
0,REC_0001,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,22.00,NaN,percentage,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,Baseline year,NaN,NaN
1,REC_0002,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,35.00,NaN,percentage,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,NaN,NaN,NaN
2,REC_0003,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,46.00,NaN,percentage,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,NaN,NaN,NaN
3,REC_0004,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,56.00,NaN,percentage,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,Gender disaggregated,NaN,NaN
4,REC_0005,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,36.00,NaN,percentage,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,Gender disaggregated,NaN,NaN
5,REC_0006,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,49.00,NaN,percentage,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,Account ownership increased from 46% to 49%,Survey Oct-Nov 2024,NaN,NaN
6,REC_0007,observation,NaN,ACCESS,Mobile Money Account Rate,ACC_MM_ACCOUNT,higher_better,4.70,NaN,percentage,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,NaN,NaN,NaN
7,REC_0008,observation,NaN,ACCESS,Mobile Money Account Rate,ACC_MM_ACCOUNT,higher_better,9.45,NaN,percentage,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,Doubled from 2021,NaN,NaN
8,REC_0009,observation,NaN,ACCESS,4G Population Coverage,ACC_4G_COV,higher_better,37.50,NaN,percentage,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,Before major expansion,NaN,NaN
9,REC_0010,observation,NaN,ACCESS,4G Population Coverage,ACC_4G_COV,higher_better,70.80,NaN,percentage,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,4G coverage doubled from 37.5% to 70.8%,Major infrastructure investment,NaN,NaN

In [19]:
# Enriched observations
new_obs = fi_enriched[fi_enriched['record_id'].str.startswith('OBS_')]
new_obs

# Enriched events
new_events = fi_enriched[fi_enriched['record_id'].str.startswith('EVT_')]
new_events

# Enriched impact_links
new_imp = fi_enriched[fi_enriched['record_id'].str.startswith('IMP_')]
new_imp

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,...,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes,parent_id
45,IMP_FX_REFORM_USAGE,impact_link,NaN,USAGE,NaN,NaN,NaN,NaN,NaN,NaN,...,medium,NaN,6.0,Comparable countries,Kenya,NaN,NaN,NaN,FX liberalization increases formal digital tra...,EVT_FX_REFORM_2023

In [20]:
# Columns that must be non-empty per schema
required_cols_obs = ['record_id','record_type','pillar','indicator','indicator_code','value_numeric','observation_date','source_name','confidence','collected_by','collection_date']
required_cols_events = ['record_id','record_type','category','indicator','observation_date','source_name','confidence','collected_by','collection_date']
required_cols_imp = ['record_id','record_type','parent_id','pillar','related_indicator','impact_direction','impact_magnitude','lag_months','evidence_basis']

# Check for missing values in enriched rows
missing_obs = new_obs[required_cols_obs].isna().sum()
missing_events = new_events[required_cols_events].isna().sum()
missing_imp = new_imp[required_cols_imp].isna().sum()

print("Missing values in new observations:\n", missing_obs)
print("\nMissing values in new events:\n", missing_events)
print("\nMissing values in new impact_links:\n", missing_imp)

Missing values in new observations:
 record_id           0
record_type         0
pillar              0
indicator           0
indicator_code      0
value_numeric       0
observation_date    0
source_name         0
confidence          0
collected_by        0
collection_date     0
dtype: int64

Missing values in new events:
 record_id            0
record_type          0
category             0
indicator            0
observation_date     0
source_name          0
confidence           0
collected_by         0
collection_date     10
dtype: int64

Missing values in new impact_links:
 record_id            0
record_type          0
parent_id            0
pillar               0
related_indicator    0
impact_direction     0
impact_magnitude     0
lag_months           0
evidence_basis       0
dtype: int64

In [21]:
# Display the enrichment tables
print("=== New Observations ===")
display(new_obs)

print("=== New Events ===")
display(new_events)

print("=== New Impact Links ===")
display(new_imp)

=== New Observations ===

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,...,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes,parent_id
43,OBS_SMARTPHONE_PEN_2023,observation,NaN,USAGE,Smartphone penetration (adults),USG_SMARTPHONE_PEN,increase_good,34.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Elias,2026-02-01 00:00:00,Smartphone adoption in Ethiopia reached approx...,Smartphone access is a prerequisite for app-ba...,NaN

=== New Events ===

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,...,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes,parent_id
33,EVT_0001,event,product_launch,NaN,Telebirr Launch,EVT_TELEBIRR,NaN,NaN,Launched,categorical,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,First major mobile money service in Ethiopia,NaN,NaN
34,EVT_0002,event,market_entry,NaN,Safaricom Ethiopia Commercial Launch,EVT_SAFARICOM,NaN,NaN,Launched,categorical,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,End of state telecom monopoly,NaN,NaN
35,EVT_0003,event,product_launch,NaN,M-Pesa Ethiopia Launch,EVT_MPESA,NaN,NaN,Launched,categorical,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,Second mobile money entrant,NaN,NaN
36,EVT_0004,event,infrastructure,NaN,Fayda Digital ID Program Rollout,EVT_FAYDA,NaN,NaN,Launched,categorical,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,National biometric digital ID system,NaN,NaN
37,EVT_0005,event,policy,NaN,Foreign Exchange Liberalization,EVT_FX_REFORM,NaN,NaN,Implemented,categorical,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,Birr float introduced,NaN,NaN
38,EVT_0006,event,milestone,NaN,P2P Transaction Count Surpasses ATM,EVT_CROSSOVER,NaN,NaN,Achieved,categorical,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,Historic: digital > cash for first time,NaN,NaN
39,EVT_0007,event,partnership,NaN,M-Pesa EthSwitch Integration,EVT_MPESA_INTEROP,NaN,NaN,Launched,categorical,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,Full interoperability for M-Pesa,NaN,NaN
40,EVT_0008,event,infrastructure,NaN,EthioPay Instant Payment System Launch,EVT_ETHIOPAY,NaN,NaN,Launched,categorical,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,National real-time payment system,NaN,NaN
41,EVT_0009,event,policy,NaN,NFIS-II Strategy Launch,EVT_NFIS2,NaN,NaN,Launched,categorical,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,5-year national financial inclusion strategy,NaN,NaN
42,EVT_0010,event,pricing,NaN,Safaricom Ethiopia Price Increase,EVT_SAFCOM_PRICE,NaN,NaN,Implemented,categorical,...,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,Data and voice prices increased 20-82%,NaN,NaN
44,EVT_FX_REFORM_2023,event,economic,NaN,FX market liberalization,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Elias,2026-02-01 00:00:00,Major FX reforms announced in 2023.,Expected to increase formal financial activity.,NaN

=== New Impact Links ===

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,...,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes,parent_id
45,IMP_FX_REFORM_USAGE,impact_link,NaN,USAGE,NaN,NaN,NaN,NaN,NaN,NaN,...,medium,NaN,6.0,Comparable countries,Kenya,NaN,NaN,NaN,FX liberalization increases formal digital tra...,EVT_FX_REFORM_2023